body{
    padding: 0;
    margin: 0;
    display: grid;
    font-family: "Open Sans", 'Times New Roman', Times, serif;
}
ul{
    list-style: none;
    padding-left: 0;
}
li > a{
    text-decoration: none;
}
button{
    all: unset;
}

#navbar{
    position: fixed;
    height: 100%;
    width: 15rem;
    background-color: #5bacf8;
    z-index: 100;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    padding-left: 1rem;
    gap: 0.5rem;
    padding-bottom: 0;
    padding-top: 1rem;
    height: 12rem;
}
#logo > p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}
#logo > p::first-letter{
    font-weight: 700;
}
#logo > svg{
    width: 3rem;
    height: 3rem;
}
#navbar ul{
    padding-left: 1rem;
}
#navbar ul li{
    align-items: center;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
#navbar ul li svg{
    width: 1.5rem;
    height: 1.5rem;
}
#home{
    margin-top: 1rem;
}
#home > ul > li > a,
#settings > ul > li > a
{
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.content-wrap{
    margin-left: 15rem;
    background-color: rgb(206, 212, 255);
}
#banner{
    margin-bottom: 2.5rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchbar > input{
    width: 25rem;
    height: 1.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 1rem;
    background-color: rgb(207, 206, 195);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
}
#searchbar > button > svg{
    fill: rgba(14, 14, 14, 0.8);
    height: 1.8rem;
    width: 1.8rem;
    padding-top: 0.4rem;
    margin-right: 1rem;
}
#wrap1, #wrap2{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#wrap3{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
#profilename{
    display: flex;
    gap: 1.5rem;
}
#profilename > svg{
    align-self: center;
}
#profilename > p{
    font-weight: 700;
    font-size: 0.9rem;
}
.profile{
    background-image: url(https://cdn.prod.website-files.com/5d7e8885cad5174a2fcb98d7/64933f9d63c62651c3ba1125_5f56dd996a7294efc1974174_noodle-and-bun-tiktok.jpeg);
    background-size: cover;
    border-radius: 50%;
}
.profile#small{
    width: 3rem;
    height: 3rem;
}
#greeting{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profile#big{
 width: 6rem;
 height: 6rem;
 grid-row: 1 / 3;
 margin-right: 10px;
}
#greeting > p:nth-child(2){
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0;
    align-self: end;
}
#greeting > p:nth-child(3){
    padding-top: 0;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.5rem;
}
#button{
    display: flex;
    align-self: end;
    gap: 1rem;
}
#button > button{
    width: 5rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    background-color: rgba(0, 162, 215, 0.9);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
#projectpost{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.post{
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    outline: 1px solid rgba(255, 255, 255, 0.2);
}
.post > h3{
    font-size: 1rem;
}
.post > p{
    font-size: 0.8rem;
}
#bulletin{
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
}
#anouncement{
    border-radius: 10px;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    outline: 1px solid rgba(255, 255, 255, 0.2);
}
#anouncement > h4{
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.5rem;
}
#anouncement > p{
    font-size: 0.7rem;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#trending{
    border-radius: 10px;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    outline: 1px solid rgba(255, 255, 255, 0.2);
}